/*Fuente Poppins*/
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&display=swap');

* {
	/*Elimina los márgenes y espaciados predeterminados*/
	margin: 0;
	padding: 0;
}

/*-----------------------
Selector de estilo HTML
------------------------*/
body {
	/*font-family: Trebuchet MS; /*Tipo de letra*/
	line-height: 1.5; /*Interlineado*/
	/* background-image: url(imagenes/vuelo.png); */
	font-family: 'Poppins', sans-serif;
}


/*Aplicar a todos los h1 los siguientes estilos*/
h1{
	font-size: 72px;
	padding-bottom: 5px;
	color: #40CFFF;
    font-weight: 800;
}

/*Aplicar a todos los h2 los siguientes estilos*/
h2 {
	font-size: 36px;
	text-align: center;
	padding-bottom: 20px;
	font-weight: 500;
}

/*Aplicar a todos los h3 los siguientes estilos*/
h3 {
	font-weight: 600;
}

/* Añade espacio en todos los párrafos y la fuente */
p{
	padding-bottom: 10px;
	font-family: 'Roboto', sans-serif;
}

/*-----------------------
Selector de estilo ID
------------------------*/

/*En la seccion cabecera, todas las imagenes se acoplan a un 30% de su contenedor*/
#cabecera img{
	width: 30%;
	padding-top: 25px;
}

/* En cabecera, aplicamos color de fondo y texto, además de agrandar la caja */
#cabecera {
	background-color: #fff; /*Color negro*/
	color: #000; /*Color blanco*/
	padding-top: 25px;
	padding-bottom: 25px;
}

/* Aplicamos en nosotros una imagen de fondo que va a estar opaca*/
#nosotros {
	/*background-color: rgb(29, 38, 48);*/
	background-image: linear-gradient(rgba(5, 7, 12, 0.75),
	rgba(5, 7, 12, 0.75)), url(../imagenes/fondo.jpg); /*el liner opaca la imagen de fondo*/
	color: #fff;
}

/* A los h3 de nosotros, los centramos y aumentamos tamaño */
#nosotros h3{
	font-size: 40px;
	text-align: center;
	/* font-family: fantasy; */
}

/* Empuja toda la lista en nosotros a la derecha */
#nosotros li{
	margin-left: 18px;
}

/* Efectos al fondo de proposito */
#proposito{
	/* background-color: #92D0DB; */
	/*background-color: rgb(116, 148, 163);*/
	background-color: #5BA9D9;
	/* color: #fff; */
	color: #000;
}

/* Todas las imagenes en proposito ocuparan todo el espacio de su contenedor */
#proposito img{
	width: 100%;
}

/* Efectos al fondo en mision */
#mision{
	background-color: #c4c4c4;
	color: #000;
}

/* Centra el texto en sus cajas y cambia la fuente */
#mision p{
	text-align: center;
	font-family: 'Roboto', sans-serif;
}

/* Efectos al fondo en lugares */
#lugares {
	background-color: #A0BDC1;
	color: #000;
}

/* Efectos al pie de pagina y cambio de fuente */
#pie{
	background-color: #000;
	color: #fff;
	font-family: 'Roboto', sans-serif;
}

/* Todos los h3 en pie de pagina aumentarán de tamaño*/
#pie h3{
	font-size: 20px;
}

/* Los contenedores en el pie, se reducirá su tamaño*/
#pie .contenedor {
	text-align: left;
	font-size: 12px;
}

/*Añade bordes a las tablas*/
#tabla tbody tr td{
	border: 1px solid #000;
}

/*En la cabecera de la tabla, añade color y más espacio*/
.tabla thead tr th{
	text-align: left;
	background-color: #000;
	color: #fff;
	padding: 8px;
}

/*Aplica efectos en redes*/
#redes {
	background-color: rgb(6, 83, 184);
	color: #fff;
	width: auto;
}

/*Efectos para marquesina (el texto movible)*/
#marquesina {
	/* tamaño  */
	font-size: 40px;
	/* color */
	color: #011629;
	/* espaciado al contenedor */
	padding-top: 20px;
	padding-bottom: 20px;
}

/* Efectos al fondo en tabla */
#tabla {
	background-color: #FFF;
	color: #000;
}

/* Efectos al fondo en ubicanos */
#ubicanos {
	background-color: rgb(241,243, 244);
	color: #000;
}

#contactanos {
    background-color: #FFF;
}

#formulario_contacto {
    padding: 10px 30px; 
    /*box-shadow: 5px 3px 10px 0px rgba(24,41,64,0.8); */
	box-shadow: 10px 10px 5px 11px rgba(98, 103, 180, 0.20);
}

#formulario_contacto h3 {
    background-color: rgb(6, 83, 184);
    color: #fff;
    font-size: 30px;
    padding: 10px 0;
    text-align: center;
    border-radius: 20px;
    margin-bottom: 30px;
}

#formulario_contacto p {
    text-align: center;
}

/*-----------------------
Selector de estilo CLASS
------------------------*/

/*Efectos para todas las clases fila*/
.fila {
	display: flex;
	flex-direction: row;
}

/*Efectos para todas las clases columna*/
.columna {
	flex-basis: 0;
	flex-grow: 1;

	margin-left: 5px;
	margin-right: 5px;

	padding-left: 10px;
	padding-right: 10px;
}

/* Efectos para todas las clases espaciado */
.espaciado{
	padding-top: 90px;
	padding-bottom: 90px;

}

/* Efectos para todos los contenedores */
.contenedor{
	max-width: 90%;
	margin-left: auto;
	margin-right: auto;
}

/* Configurar imagenes */
.ajuste_img {
	width: 100%;/*/configurar el ancho cuadrandolo en su caja contenedora, ya no al 100% de su tamaño real*/
}

/* Efectos para todas las clases tabla que usaremos */
.tabla{
	width: 100%;
	border: 5px solid #fff;
	/*padding: 5px;*/
}

/* A todas las clases tablas, añadir efectos a su contenido en tBody */
.tabla tbody tr td{
	/*border-bottom: 5px solid #fff;*/
	padding: 5px;
}

/* Efectos para todas las cabeceras en las tablas */
.tabla thead th{
	/*border-bottom: 5px solid #fff;*/
	padding: 5px;
}

/* Efectos para todo el cuerpo en las tablas */
.tabla tbody td:hover{
	padding-bottom: solid 1px rgb(255, 255, 255);
	background: rgb(177, 200, 230);
}

.prueba{
	width: 45%;
	padding-top: 15px;
	padding-left: 120px;
	padding-right: auto;
}

/* Clase centro para usar y centrar cualquier contenedor u otros */
.center {
	text-align: center;
}

/* Efectos para la seccion redes */
.ajuste_redes {
	width: 100%;	
	height: 400px;
}

/* Efectos para la seccion mapa */
.ajuste_mapa {
	width: 100%;
	padding-bottom: 50px;
}

.entrada {
    margin: 10px 0px;
}

.campo {
    width: 100%;
    padding: 10px 0px;
    border: none;
    outline: none; 
    border-bottom: 1px solid #c4c4c4;
	border-right: 1px solid #c4c4c4;
    font: inherit; 
}

.boton-enviar {
    background-color: rgb(6, 83, 184);
    color: #fff;
    padding: 15px 0px;
    width: 20%; 
    cursor: pointer; 
    font: inherit; 
    border: none; 
    border-radius: 35px;
    transition: all 1s; 
}

/*hover hace una caja cuando selecciona*/
.boton-enviar:hover {
    background-color: #000;
}







