/* Pantalla de laptop y desktop */
@media screen and (max-width: 1200px){
    .contenedor{
        max-width: 90%;
    }

    #cabecera img{
        width: 70%;
    }

    #proposito .fila{
        flex-direction: column;
    }

    #proposito img{
        width: 50%;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    #ubicanos img{
        width: 100%;
        margin-top: 30px;
    }
    #slider .boton-cbox{
        width: 90%;
    }

    #redes .fila{
        display: flex;
	    flex-direction: row;
    }
}

@media screen and (max-width: 768px){
    .contenedor{
        max-width: 95%;
    }

    #marquesina{
        font-size: 24px;
    }

    #slider .fila {
        flex-direction: column-reverse;
    }

    #slider img {
        text-align: center;
    }

    #ubicanos .fila{
        flex-direction: column-reverse;
        text-align: center;
    }

    #ubicanos img{
        width: 80%;
        margin-top: 30px;
    }

    
    .menu_barra {
        list-style-type: none;
    
        /*activar flexbox*/
        display: block;
        flex-direction: row-reverse;
    
        /*espacio proporcionado entre las opciones del menu*/
        justify-content: space-evenly;
    }
    #redes .fila{
            flex-wrap: wrap;
            justify-content: center;
    }

    #redes .columna{
        flex-basis: 40%;
        max-width: 40%;
        text-align: center;
        padding: 15px;
    }

    .menu_barra li a{
        padding: 20px 5px;
        text-align: center;
        
    }
    #redes .fila{
        display: flex;
	    flex-direction: column-reverse;
    }
}

@media screen and (max-width: 576px){

    .contenedor{
        max-width: 100%;
    }

    #cabecera .contenedor{
        max-width: 95%;
    }

    #cabecera img{
        width: 100%;
    }

    #nosotros .contenedor{
        font-size: 0.8em;
        
    }

    #nosotros .fila{
        flex-direction: column-reverse;
    }

    #nosotros li{
        padding-bottom: 10px;
    }
    
    
    .menu_barra {
        list-style-type: none;
    
        /*activar flexbox*/
        display: block;
        flex-direction: row-reverse;
    
        /*espacio proporcionado entre las opciones del menu*/
        justify-content: space-evenly;
    }
    .menu_barra li a {
        padding: 21px o 05px;
        font-size: 0.8em;
    }
    #lugares .fila{
        flex-direction: column-reverse;
    }

    #lugares .fila .columna{
        padding-left: 120px;
        width: 50%;
        font-size: 00.8em;
    }

    #ubicanos .fila{
        flex-direction: column-reverse;
        text-align: center;
    }

    #ubicanos img{
        width: 80%;
        margin-top: 30px;
    }

    #slider .fila {
        flex-direction: column-reverse;
    }

    #pie{
        text-align: center;
    }
    #pie h3{
        padding-left: 30px;
        font-size: 1em;
    }

    #pie a{
        font-size: 1em;
    }
    #redes .fila{
        display: flex; 
	    flex-direction: column;
        align-content: space-around;
        margin-left: -200px;
        margin-right: -200px;
    }

    
}